@model DigitaalOmgevingsboek.AspNetUsers

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Gebruikersprofiel</h1>
            </div>
        </div>
@using (Html.BeginForm())
                {
    @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12">



                <div class="col-lg-6">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.AccessFailedCount)
                    @Html.HiddenFor(model => model.EmailConfirmed)
                    @Html.HiddenFor(model => model.PasswordHash)
                    @Html.HiddenFor(model => model.SecurityStamp)
                    @Html.HiddenFor(model => model.PhoneNumber)
                    @Html.HiddenFor(model => model.PhoneNumberConfirmed)
                    @Html.HiddenFor(model => model.TwoFactorEnabled)
                    @Html.HiddenFor(model => model.LockoutEndDateUtc)
                    @Html.HiddenFor(model => model.LockoutEnabled)
                    @Html.HiddenFor(model => model.IsDeleted)
                    @Html.HiddenFor(model => model.IsPending)
                    @Html.HiddenFor(model => model.POI)
                    @Html.HiddenFor(model => model.Uitstap)
                    @Html.HiddenFor(model => model.Uitstap1)
                    @Html.HiddenFor(model => model.AspNetRoles)
                    @Html.HiddenFor(model => model.AspNetUserClaims)
                    @Html.HiddenFor(model => model.AspNetUserLogins)
                    @Html.HiddenFor(model => model.UserName)
                    @Html.HiddenFor(model => model.Email)





                    <div class="form-group">
                        <label>Naam:</label>

                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <label>Voornaam:</label>

                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })

                    </div>



                </div>


            </div>
            <br>

            </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-2 col-xs-12">

            <div class="form-group">

                <input type="submit" value="Opslaan" class="btn btn-lg btn-success btn-block" />


            </div>
        </div>

        </div>
    <div class="row">
        <div id="Howest">
            <img src="/Backgrounds/Howest_Logo.png" />
        </div>
    </div>




                }
                
                
                  

               
            </div>
        </div>

    
    
    
   

      
