@model AspNetUsers

@{
    ViewBag.Title = "Surroundings";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-car fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">


                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @ViewBag.lijstUitstappen.Count
                                    }
                                    else
                                    {
                                        @ViewBag.gebruiker.Uitstap.Count
                                    }
                                </div>
                                <div>
                                    @if(User.IsInRole("Administrator")){
                                   <p>Totaal aantal uitstappen</p>
                                    }
                                    else
                                    {
                                   <p>Uw aangemaakte uitstappen</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="~/Uitstap/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Beheer Uitstappen</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-map-marker fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @ViewBag.lijstPOI.Count
                                    }
                                    else
                                    {
                                        @ViewBag.gebruiker.POI.Count
                                    }
                                    
                                    
                               </div>
                               
                                <div>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                      <p>Totaal aantal POI's</p>
                                    }
                                    else
                                    {
                                        <p>Uw aangemaakte POI's</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="~/POI/POIStart">
                        <div class="panel-footer">
                            <span class="pull-left">Beheer POI's</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
          
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                   
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        @ViewBag.lijstGebruikers.Count
                                    }
                                    else
                                    {
                                        int iUitstap=0;
                                        foreach (Uitstap u in ViewBag.gebruiker.Uitstap1)
                                        {
                                            if(u.IsDeleted==false)
                                            {
                                                iUitstap++;
                                            }
                                            
                                        }
                                        @iUitstap;
                                    }

                                </div>
                                <div>
                                    @if (User.IsInRole("Administrator"))
                                    {
                                       <p>Totaal aantal Gebruikers</p>
                                    }
                                    else
                                    {
                                       <p>Uitstappen waar u toegang tot hebt</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a href="~/Gebruiker/Index">
                            <div class="panel-footer">
                                <span class="pull-left">Beheer Gebruikers</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="~/Uitstap/Index?filter=all">
                            <div class="panel-footer">
                                <span class="pull-left">Ga naar uitstappen</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>

                    }
                   
                </div>
            </div>

        </div>
        <!-- /.row -->


        <div class="row">
            @{
             if(User.IsInRole("Administrator")){<text><div class="col-xs-12 col-lg-8"></text>}
             else
             {<text><div class="col-xs-12 col-lg-12">
            </text>
             }
}







<div class="panel panel-default">
    <div class="panel-heading">
        Mijn Uitstappen
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Beschrijving</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Uitstap uitstap in ViewBag.gebruiker.Uitstap)
                    {
                        if (uitstap.IsDeleted == false)
                        {
                            <tr class="odd gradeX">
                                <td><a href="@Url.Action("Details", "Uitstap", new { id = uitstap.Id, onclick = "setCookie()" })">@uitstap.Naam</a></td>
                                <td>@uitstap.Beschrijving</td>


                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Mijn POI's
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Adres</th>
                        <th>Gemeente</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (POI poi in ViewBag.gebruiker.POI)
                    {
                        if (poi.IsDeleted == false)
                        {
                            <tr class="odd gradeX">
                                <td><a href="@Url.Action("POIView", "POI", new { id = poi.Id, onclick = "setCookie()" })">@poi.Naam</a></td>
                                <td>@poi.Adres</td>
                                <td>@poi.Gemeente</td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>



            @if(User.IsInRole("Administrator"))
            { 
            <div class="col-lg-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Recente Gebeurtenissen
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            @if(ViewBag.lijstLogs!=null)
                            {
                                int i=0;
                            foreach (POI_Log log in ViewBag.lijstLogs)
                            {
                                if (i >= 20) { break; }

                                switch(log.Event)
                                {
                                    case "Nieuwe uitstap aangemaakt":

                                        <a href="@Url.Action("Details", "Uitstap", new { id = log.POI_Id, onclick = "setCookie()" }) ;" class="list-group-item">
                                            <i class="fa fa-comment fa-fw"></i>@log.Event
                                            <span class="pull-right text-muted small">
                                                <em>
                                                    @DateTime.ParseExact(@log.Time.ToString(), "yyyy-MM-dd HH:mm:ss",
                                                                                   System.Globalization.CultureInfo.InvariantCulture)
                                                </em>
                                            </span>
                                        </a>


                                        break;
                                    
                                    case "Uitstap gewijzigd":
                                    <a href="@Url.Action("Details", "Uitstap", new { id = log.POI_Id, onclick = "setCookie()" }) ;" class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i>@log.Event
                                        <span class="pull-right text-muted small">
                                            <em>
                                                @DateTime.ParseExact(@log.Time.ToString(), "yyyy-MM-dd HH:mm:ss",
                                                                                   System.Globalization.CultureInfo.InvariantCulture)
                                            </em>
                                        </span>
                                    </a>


                                        break;


                                    case "Nieuwe POI aangemaakt":
                                    <a href="@Url.Action("POIView", "POI", new { id = log.POI_Id, onclick = "setCookie()" }) ;" class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i>@log.Event
                                        <span class="pull-right text-muted small">
                                            <em>
                                                @DateTime.ParseExact(@log.Time.ToString(), "yyyy-MM-dd HH:mm:ss",
                                                                                   System.Globalization.CultureInfo.InvariantCulture)
                                            </em>
                                        </span>
                                    </a>break;

                                    case "POI gewijzigd":
                                    <a href="@Url.Action("POIView", "POI", new { id = log.POI_Id, onclick = "setCookie()" }) ;" class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i>@log.Event
                                        <span class="pull-right text-muted small">
                                            <em>
                                                @DateTime.ParseExact(@log.Time.ToString(), "yyyy-MM-dd HH:mm:ss",
                                                                                   System.Globalization.CultureInfo.InvariantCulture)
                                            </em>
                                        </span>
                                    </a>break;
                                    case "Nieuwe aanvraag gebruiker":
                                    <a href="@Url.Action("Index", "Gebruiker", new { id = log.POI_Id, onclick = "setCookie()" }) ;" class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i>@log.Event
                                        <span class="pull-right text-muted small">
                                            <em>
                                                @DateTime.ParseExact(@log.Time.ToString(), "yyyy-MM-dd HH:mm:ss",
                                                                                   System.Globalization.CultureInfo.InvariantCulture)
                                            </em>
                                        </span>
                                    </a>break;


                                    default:
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i>@log.Event
                                        <span class="pull-right text-muted small">
                                            <em>
                                                @DateTime.ParseExact(@log.Time.ToString(), "yyyy-MM-dd HH:mm:ss",
                                                                                   System.Globalization.CultureInfo.InvariantCulture)
                                            </em>
                                        </span>
                                    </a>
                                        break;

                                }
                                i++;

                            }
                            }
                           
                        </div>
                        <!-- /.list-group -->
                        
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>}
        </div>
        <div class="row">
            <div id="Howest">
                <img src="/Backgrounds/Howest_Logo.png" />
            </div>
        </div>
        <!-- /.container-fluid -->
        <!-- /#page-wrapper -->
    </div>
</div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>


