@model OmgevingsboekMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registratiepagina</h3>
                </div>
                <div class="panel-body">
                    <fieldset>

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Maak een nieuwe account aan.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Naam)

                                @Html.TextBoxFor(m => m.Naam, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Naam, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Voornaam)
                            
                                    @Html.TextBoxFor(m => m.Voornaam, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Voornaam, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                            
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                               
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                             
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            
                            </div>
                            <div class="form-group">
                            
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Registreren" />
                               
                            </div>
                        }
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="Howest">
                <img src="/Backgrounds/Howest_Logo.png" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
