@model DigitaalOmgevingsboek.Uitstap

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Bent u zeker dat u deze uitstap wil verwijderen?</h3>
    <div>
        <h4>Uitstap</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Naam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Naam)
            </dd>
    
            <dt>
                Route
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Route.Points)
            </dd>
    
            <dt>
                Auteur
            </dt>
    
            <dd>
                @Model.AspNetUsers.Name @Model.AspNetUsers.Firstname
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Terug naar lijst", "Index")
            </div>
        }
    </div>
</body>
</html>
