@model DigitaalOmgevingsboek.Uitstap

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Uitstap</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Naam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Naam)
            </dd>
    
            <dt>
                Route
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Route.Points)
            </dd>
    
            <dt>
                Auteur
            </dt>
    
            <dd>
                @Model.AspNetUsers.Name @Model.AspNetUsers.Firstname
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
