@model DigitaalOmgevingsboek.Uitstap

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


<!--
<input type="submit" name="action:Rechten" value="Beheerrechten" class="btn btn-default firstbutton" />
<input type="submit" name="action:Route" value="Route Aanpassen" class="btn btn-default" />
<input type="submit" name="action:POI" value="POI Toevoegen" class="btn btn-default" />
< class="btn btn-default lastbutton" />
 -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Uitstap Bewerken</h1>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-xs-10">
                </div>
                <div class="col-lg-2">
                    <button type="submit" id="save" name="submit" value="save" class="btn btn-lg btn-success btn-block">Uitstap Opslaan</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="tabs" data-persist="true">
                        <li><a href="#view1">Basis Informatie Uitstap</a></li>
                        <li><a href="#view2">Route Bewerken</a></li>
                        <li><a href="#view3">POI Toevoegen</a></li>
                        <li><a href="#view4">Beheerrechten</a></li>
                    </ul>
                    <div class="tabcontents">
                        <div id="view1">
                            <div class="panel">
                                <div class="panel-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Naam)
                                        <div>
                                            @Html.EditorFor(model => model.Naam)
                                            @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Beschrijving)
                                        <div>
                                            @Html.TextAreaFor(model => model.Beschrijving)
                                            @Html.ValidationMessageFor(model => model.Beschrijving, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.POI)
                                        <div class="dataTable_wrapper">
                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <th>Naam</th>
                                                        <th>Adres</th>
                                                        <th>Gemeente</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (POI poi in Model.POI)
                                                    {
                                                        <tr>
                                                            <td>@poi.Naam</td>
                                                            <td>@poi.Adres</td>
                                                            <td>@poi.Gemeente</td>
                                                            <td>
                                                                @if (Model.POI.Contains(poi))
                                                                {
                                                                    <button type="submit" id="delete" name="submit" class="btn btn-sm btn-danger btn-block" value="delete:poi:@poi.Id">Verwijderen uit Uitstap</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="submit" id="add" name="submit" class="btn btn-sm btn-success btn-block" value="add:poi:@poi.Id">Toevoegen aan Uitstap</button>
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="view2">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.POI)
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div id="googleMapsRoute" style="height:300px;">
                                                    TEST
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>POI's in route</label>
                                                    <select size="2" class="form-control" style="height:300px;">
                                                        @foreach(POI poi in @ViewBag.Points)
                                                        {
                                                            <option>@poi.Naam</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-1">
                                                Icon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="dataTable_wrapper">
                                                <label>Alle POI's</label>
                                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                                    <thead>
                                                        <tr>
                                                            <td>Naam</td>
                                                            <td>Adres</td>
                                                            <td>Gemeente</td>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (POI poi in Model.POI)
                                                        {
                                                            <tr>
                                                                <td>@poi.Naam</td>
                                                                <td>@poi.Adres</td>
                                                                <td>@poi.Gemeente</td>
                                                                <td>
                                                                    @if (ViewBag.Points.Contains(poi))
                                                                    {
                                                                        <button type="submit" id="delete" name="submit" class="btn btn-sm btn-danger btn-block" value="delete:route:@poi.Id">Verwijderen uit Route</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button type="submit" id="add" name="submit" class="btn btn-sm btn-success btn-block" value="add:route:@poi.Id">Toevoegen aan Route</button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="view3">

                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Naam</th>
                                            <th>Adres</th>
                                            <th>Gemeente</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (POI poi in ViewBag.POI)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="@Url.Action("POIView", "POI", new { id = poi.Id})">@poi.Naam</a>
                                                </td>
                                                <td>
                                                    @poi.Adres
                                                </td>
                                                <td>
                                                    @poi.Gemeente
                                                </td>
                                                <td>
                                                    @if (Model.POI.Contains(poi))
                                                    {
                                                        <button type="submit" id="delete" name="submit" class="btn btn-sm btn-danger btn-block" value="delete:poi:@poi.Id">Verwijderen uit Uitstap</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" id="add" name="submit" class="btn btn-sm btn-success btn-block" value="add:poi:@poi.Id">Toevoegen aan Uitstap</button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div id="view4">
                            <div class="panel">
                                    <div class="form-group">
                                        Rechten toekennen aan:
                                        <div class="dataTable_wrapper">
                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <th>Naam</th>
                                                        <th>Voornaam</th>
                                                        <th>Gebruikersnaam</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (AspNetUsers anu in ViewBag.Users)
                                                    {
                                                        if(!anu.Id.Equals(Model.Auteur_Id))
                                                        {
                                                            foreach(AspNetRoles role in anu.AspNetRoles)
                                                            {
                                                                if (role.Name != "Administrator")
                                                                {
                                                        <tr>
                                                            <td>@anu.Name</td>
                                                            <td>@anu.Firstname</td>
                                                            <td>@anu.UserName</td>
                                                            <td>
                                                                @if (Model.AspNetUsers1.Contains(anu))
                                                                {
                                                                    <button type="submit" id="delete" name="submit" class="btn btn-sm btn-danger btn-block" value="delete:user:@anu.Id">Verwijderen uit Uitstap</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="submit" id="add" name="submit" class="btn btn-sm btn-success btn-block" value="add:user:@anu.Id">Toevoegen aan Uitstap</button>
                                                                }
                                                            </td>
                                                        </tr>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            @Html.HiddenFor(model => model.Id)
        }

        <!-- /.row -->
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            responsive: true
        });
    });
</script>