@model DigitaalOmgevingsboek.Uitstap



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    


                            <!--
                            <input type="submit" name="action:Rechten" value="Beheerrechten" class="btn btn-default firstbutton" />
                            <input type="submit" name="action:Route" value="Route Aanpassen" class="btn btn-default" />
                            <input type="submit" name="action:POI" value="POI Toevoegen" class="btn btn-default" />
                            < class="btn btn-default lastbutton" />
                             -->

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nieuwe uitstap</h1>
                
            </div>
        </div>
        
       @using (Html.BeginForm())
                {
        @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-3 col-xs-12">
            <button type="submit" id="save" name="submit" value="save" class="btn btn-lg btn-success btn-block">Uitstap verder bewerken</button>
            <br />
        </div>
    </div>

            <div class="row">
                
                <div class="col-lg-12">
                    
                        <div class="panel panel-default">
                         
                                <div class="panel-body">
                                    <div class="col-lg-8 col-xs-12">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Naam)
                                            <div>
                                                @Html.TextBoxFor(model => model.Naam, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Beschrijving)
                                            <div>
                                                @Html.TextAreaFor(model => model.Beschrijving, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Beschrijving, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                            </div>
                       
                            </div>
                    
                
                        </div>
                </div>
       }
        <div class="row">
            <div id="Howest">
                <img src="/Backgrounds/Howest_Logo.png" />
            </div>
        </div>
            </div>
   
    </div>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            responsive: true
        });
    });
</script>