@model OmgevingsboekMVC.ViewModels.UitstapVM



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    


                            <!--
                            <input type="submit" name="action:Rechten" value="Beheerrechten" class="btn btn-default firstbutton" />
                            <input type="submit" name="action:Route" value="Route Aanpassen" class="btn btn-default" />
                            <input type="submit" name="action:POI" value="POI Toevoegen" class="btn btn-default" />
                            < class="btn btn-default lastbutton" />
                             -->

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nieuwe Uitstap</h1>
            </div>
        </div>
        
       @using (Html.BeginForm())
                {
        @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-10">
        </div>
        <div class="col-lg-2">
            <button type="submit" id="save" name="submit" value="save" class="btn btn-lg btn-success btn-block">Uitstap Opslaan</button>
        </div>
    </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="tabs">
                        <li><a href="#view1" class="@if(ViewBag.POIUpdate == null) {Write("selected");}">Basis Informatie Uitstap</a></li>
                        <li><a href="#view2">Route Bewerken</a></li>
                        <li><a href="#view3" class="@if(ViewBag.POIUpdate == true) {Write("selected");}">POI Toevoegen</a></li>
                        <li><a href="#view4">Beheerrechten</a></li>
                    </ul>
                    <div class="tabcontents">
                        <div id="view1">
                            <div class="panel">

                                <div class="panel-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.uitstap.Naam)
                                        <div>
                                            @Html.EditorFor(model => model.uitstap.Naam)
                                            @Html.ValidationMessageFor(model => model.uitstap.Naam, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.uitstap.POI)
                                            <div class="dataTable_wrapper">
                                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                                    <thead>
                                                        <tr>
                                                            <td>Naam</td>
                                                            <td>Adres</td>
                                                            <td>Gemeente</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach(POI poi in Model.lijstPOI)
                                                    {
                                                            <tr>
                                                                <td>@poi.Naam</td>
                                                                <td>@poi.Adres</td>
                                                                <td>@poi.Gemeente</td>
                                                            </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                    <div class="row">
                                        <div class="col-lg-12">
  
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="view2">
                            <div class="panel">

                                <div class="panel-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.uitstap.POI)
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div id="googleMapsRoute" style="height:300px;">
                                                    TEST
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group" >
                                                    <label>Multiple Selects</label>
                                                    <select multiple class="form-control" style="height:300px;">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-1">
                                                Icon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="dataTable_wrapper">
                                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                                    <thead>
                                                        <tr>
                                                            <td>Naam</td>
                                                            <td>Adres</td>
                                                            <td>Gemeente</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach(POI poi in Model.lijstPOI)
                                                    {
                                                            <tr>
                                                                <td>@poi.Naam</td>
                                                                <td>@poi.Adres</td>
                                                                <td>@poi.Gemeente</td>
                                                            </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div id="view3">
    
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Naam</th>
                                                <th>Adres</th>
                                                <th>Gemeente</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (POI poi in Model.allePOI)
                                            {
                                                <tr>
                                                    <td>
                                                        <a href="@Url.Action("POIView", "POI", new { id = poi.Id})">@poi.Naam</a>
                                                    </td>
                                                    <td>
                                                        @poi.Adres
                                                    </td>
                                                    <td>
                                                        @poi.Gemeente
                                                    </td>
                                                    <td>

                                                        @if (Model.lijstPOI.Contains(poi))
                                                        {
                                                            <button type="submit" id="delete" name="submit" class="btn btn-sm btn-danger btn-block" value="delete:@poi.Id">Verwijderen uit Uitstap</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="submit" id="add" name="submit" class="btn btn-sm btn-success btn-block" value="add:@poi.Id">Toevoegen aan Uitstap</button>
                                                        }

                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>

                               
                            </div>

                    </div>
                        <div id="view4">
                            <div class="panel">

                                <div class="panel-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.uitstap.Naam)
                                        <div>
                                            @Html.EditorFor(model => model.uitstap.Naam)
                                            @Html.ValidationMessageFor(model => model.uitstap.Naam, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.uitstap.POI)
                                        <div class="dataTable_wrapper">
                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <td>Naam</td>
                                                        <td>Adres</td>
                                                        <td>Gemeente</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (POI poi in Model.uitstap.POI)
                                                    {
                                                        <tr>
                                                            <td>@poi.Naam</td>
                                                            <td>@poi.Adres</td>
                                                            <td>@poi.Gemeente</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-lg-12">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
   
    </div>
           @Html.HiddenFor(model => model.uitstap.Id)
        @Html.HiddenFor(model => model.uitstap.Auteur_Id)
        @Html.HiddenFor(model => model.uitstap.Route_Id)

                    for (var i = 0; i < Model.lijstPOI.Count(); i++)
                    {
                        @Html.HiddenFor(m => m.lijstPOI[i])
                    }
                }


    <!-- /.row -->
</div>
</div>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            responsive: true
        });
    });
</script>