@model DigitaalOmgevingsboek.Uitstap



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Nieuwe Uitstap</h1>
        <div class="content">
            <div class="UitstapNew">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "UitstapNewLabel" })
                            <div>
                                @Html.EditorFor(model => model.Naam)
                                @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.POI, htmlAttributes: new { @class = "UitstapNewLabel" })
                            <div>
                              <table>
                                  <thead>
                                      <tr>
                                          <td>Naam</td>
                                          <td>Adres</td>
                                          <td>Gemeente</td>
                                      </tr>
                                  </thead>
                                  <tbody>
                               @foreach(POI poi in Model.POI)
                               {
                                   <tr>
                                       <td>@poi.Naam</td>
                                       <td>@poi.Adres</td>
                                       <td>@poi.Gemeente</td>
                                   </tr>
                               }
                                </tbody>
                              </table>
                            </div>
                        </div>
                        <br />

                        <div class="form-group">
                            <input type="submit" name="action:Rechten" value="Beheerrechten" class="btn btn-default firstbutton" />
                            <input type="submit" name="action:Route" value="Route Aanpassen" class="btn btn-default" />
                            <input type="submit" name="action:POI" value="POI Toevoegen" class="btn btn-default" />
                            <input type="submit" name="action:Save" value="Uitstap Opslaan" class="btn btn-default lastbutton" />
                   
                        </div>
                    </div>
                }

            </div>
        </div>
</div>
