<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/dashboard.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    

    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <h2 class="active"><a href="@Url.Action("Index", "Home")">Omgevingsboek</a></h2>
                <ul class="User">
                    <li>Ingelogde Gebruiker</li>
                    <li>Afmelden</li>
                </ul>
                <ul class="nav nav-sidebar">
               
                    <li><a href="@Url.Action("Uitstappen", "Uitstappen")">Uitstappen</a></li>
                    
                    <li><a href="@Url.Action("POIStart", "POI")">POI</a></li>
                    <li><a href="@Url.Action("GebruikersOverzicht", "Gebruikers")">Gebruikers</a></li>
                </ul>

            </div>
            @RenderBody()
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
</body>
</html>