@model DigitaalOmgevingsboek.Activiteit

@{
    ViewBag.Title = "Surroundings";
}



<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@Html.DisplayFor(model => model.Naam)</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-6">

            </div>
            @if (ViewBag.UserId == Model.POI.Auteur_Id || User.IsInRole("Administrator"))
            {
                <div class="col-lg-3 col-xs-12">
                    <input type="button" value="Activiteit wijzigen" name="btnEdit" class="btn btn-lg btn-success btn-block" onclick="location.href='@Url.Action("ActivityModify", "POI", new { id = Model.Id })'" /><br />
                </div>
                <div class="col-lg-3 col-xs-12">

                    <input type="button" value="Activiteit verwijderen" name="btnDelete" class="btn btn-lg btn-success btn-block" onclick="return deleteActiviteit()" /><br />
                </div>
            }
        </div>
        <div class="panel">

            <div class="panel-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group"> <label>POI: </label> @Html.ActionLink(Model.POI.Naam, "POIView", new { id = Model.POI.Id })</div>
                        <div class="form-group"> <label>Adres: </label> @Html.DisplayFor(model => model.POI.Adres)</div>
                        <div class="form-group"><label>Gemeente: </label> @Html.DisplayFor(model => model.POI.Gemeente)</div>

                        <div class="form-group"><label>Beschrijving: </label> @Html.DisplayFor(model => model.Beschrijving)</div>
                        <div class="form-group"><label>Website: </label> <a href="@Html.DisplayFor(model => model.Materiaal)">@Html.DisplayFor(model => model.Materiaal)</a></div>
                        <div class="form-group"><label>Tijdsduur: </label> @Html.DisplayFor(model => model.Duur)</div>

                        <div class="form-group"><label>Terugkoppeling: </label> @Html.DisplayFor(model => model.Terugkoppeling)</div>
                        <div class="form-group"><label>Opmerkingen: </label> @Html.DisplayFor(model => model.Opmerkingen)</div>
                        <div class="form-group"><label>Leerdoelen: </label> @Html.DisplayFor(model => model.Leerdoelen)</div>


                        <div class="form-group">
                            <label>Doelgroep:</label>

                            <ul class="list-inline">
                                @foreach (Doelgroep dg in Model.Doelgroep)
                                {
                                    <li>
                                        @dg.DoelgroepNaam
                                    </li>

                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div id="sliderFrame">
                            <div id="slider">

                                @{
                                    var i = 0;

                                    foreach (Foto_Activiteit foto in Model.Foto_Activiteit)
                                    {

                                        <img src="https://omgevingsboek.blob.core.windows.net/images/@foto.URL" id="imagesize">
                                        i = i + 1;

                                    }

                                    if (i == 0)
                                    {
                                        <img src="http://dummyimage.com/300x150/aaa/fff.png&text=Geen+afbeeldingen">
                                    }

                                }
                            </div>
                        </div>


                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
        <div class="row">
            <div id="Howest">
                <img src="/Backgrounds/Howest_Logo.png" />
            </div>
        </div>
    </div>
</div>

<script>
    function deleteActiviteit() {
        if (confirm("Weet u zeker dat u deze activiteit wilt verwijderen?")) {
            location.href = '@Url.Action("ActivityDelete", "POI", new { id = Model.Id })'
        } else {
            return false;
        }
    }
</script>