@model IEnumerable<DigitaalOmgevingsboek.POI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gemeente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefoon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Openingsuur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toegangsprijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contactpersoon_Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contactpersoon_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auteur_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duurtijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gemeente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefoon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Openingsuur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toegangsprijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contactpersoon_Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contactpersoon_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auteur_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duurtijd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { poiId=item.Id }) |
            @Html.ActionLink("Details", "Details", new { poiId=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { poiId=item.Id })
        </td>
    </tr>
}

</table>
