@model POI
@{
    ViewBag.Title = "Surroundings";
}


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">POI bewerken</h1>
            </div>
        </div>

        <form method="post" action="/POI/POIModify" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-9">

                </div>
                <div class="col-lg-3 col-xs-12">
                    <input type="submit" value="POI opslaan" name="btnSubmit" class="btn btn-lg btn-success btn-block" />
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="tabs" data-persist="true">
                        <li><a href="#view1">Basisinformatie POI</a></li>               
                        <li><a href="#view3">Activiteiten</a></li>
                        <li><a href="#view4">Leergebieden/domeinen</a></li>
                        <li><a href="#view2">Afbeeldingen</a></li>
                    </ul>
                    <div class="tabcontents">
                        <div id="view1">
                            <div class="panel">

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Naam: </label> @Html.TextBoxFor(model => model.Naam, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Adres: </label> @Html.TextBoxFor(model => model.Adres, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Gemeente: </label> @Html.TextBoxFor(model => model.Gemeente, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Gemeente, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Tel.: </label> @Html.TextBoxFor(model => model.Telefoon, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Telefoon, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>E-mail: </label> @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Website: </label> @Html.TextBoxFor(model => model.WebsiteUrl, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.WebsiteUrl, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Beschrijving: </label> @Html.TextAreaFor(model => model.Beschrijving, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Beschrijving, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Openingsuren: </label> @Html.TextAreaFor(model => model.Openingsuur, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Openingsuur, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Tijdsduur: </label> @Html.TextBoxFor(model => model.Duurtijd, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Duurtijd, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Toegangsprijs: </label> @Html.TextBoxFor(model => model.Toegangsprijs, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Toegangsprijs, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group" id="checkers">
                                                <label>Doelgroep:</label><br />



                                                @foreach (Doelgroep dg in ViewBag.Doelgroepen)
                                                {
                                                    var i = "";

                                                    foreach (Doelgroep doelgroep in Model.Doelgroep)
                                                    {

                                                        if (dg.Id == doelgroep.Id)
                                                        {
                                                            i = "checked";
                                                        }
                                                    }

                                                    <div class="checkbox-inline">

                                                        <input type="checkbox" id="@dg.Id" name="doelgroepIds" value="@dg.Id" @i />
                                                        <label for="@dg.Id" id="checker">@dg.DoelgroepNaam</label>
                                                    </div>

                                                }


                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="view2">
                            <div class="panel">

                                <div class="panel-body">
                                    <!-- Voeg hier code voor het beheren van afbeeldingen-->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label>Voeg een afbeelding toe:</label>
                                            <br />
                                            <input type="hidden" value="@Model.Id" name="Id" />
                                            <input type="hidden" value="@Model.Auteur_Id" name="Auteur_Id" />
                                            <input type="file" name="pictures" id="url" multiple />
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Selecteer de afbeeldingen die u wilt verwijderen:</label><br/>
                                            @foreach (Foto_POI foto in Model.Foto_POI)
                                            {
                                                <img src="https://omgevingsboek.blob.core.windows.net/images/@foto.FotoURL" width="150" />
                                                <input type="checkbox" id="@foto.FotoURL" name="deleteFotoURLs" value="@foto.FotoURL" />
                                                <br />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="view3">
                            @if (ViewBag.UserId == Model.Auteur_Id || User.IsInRole("Administrator"))
                            {
                                <span>Voeg een <a href="@Url.Action("ActivityNew", "POI", new { id = Model.Id })">nieuwe activiteit</a> toe.</span>
                            }
                            
                            <div class="panel">

                                <div class="panel-body">

                                    <div class="row">
                                        <div class="dataTable_wrapper">
                                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <th>Naam</th>
                                                        <th>Adres</th>
                                                        <th>Duur</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var activiteit in Model.Activiteit)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.ActionLink(activiteit.Naam, "ActivityView", new { id = activiteit.Id })
                                                            </td>
                                                            <td>
                                                                @Model.Adres
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => activiteit.Duur)
                                                            </td>
                                                            <td>
                                                                @if (ViewBag.UserId == Model.Auteur_Id || User.IsInRole("Administrator"))
                                                                {
                                                                    @Html.ActionLink("Wijzig", "ActivityModify", new { id = activiteit.Id })
                                                                    <span>|</span>
                                                                    @Html.ActionLink("Verwijder", "ActivityDelete", new { id = activiteit.Id }, new { onclick = "return confirm('Weet u zeker dat u deze activiteit wilt verwijderen?');" })
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.container-fluid -->
                                </div>
                            </div>
                        </div>

                        <div id="view4">
                            <div class="panel">

                                <div class="panel-body">
                                    <!-- Voeg hier code voor het beheren van afbeeldingen-->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group" id="checkers">


                                                @{
                                                    List<string> lijst = new List<string>();

                                                    foreach (Thema th in ViewBag.Leergebieden)
                                                    {
                                                        if (!lijst.Contains(th.LeergebiedNaam))
                                                        {
                                                            lijst.Add(th.LeergebiedNaam);
                                                        }




                                                    }







                                                    foreach (string s in lijst)
                                                    {
                                                        <h3>@s</h3>
                                                        foreach (Thema th in ViewBag.Leergebieden)
                                                        {
                                                            var local = "";
                                                            if (th.LeergebiedNaam.Equals(s))
                                                            {
                                                                foreach (Thema poithem in Model.Thema)
                                                                {
                                                                    if (th.Id == poithem.Id)
                                                                    {
                                                                        local = "checked";
                                                                    }
                                                                }

                                                                <div class="checkbox-inline">

                                                                    <input type="checkbox" id="@th.Id" name="LeergebiedenIds" value="@th.Id" @local />
                                                                    <label for="@th.Id">@th.DomeinNaam</label>
                                                                </div>
                                                            }

                                                        }
                                                    }
                                                }






                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            

        </form>
        <div class="row">
            <div id="Howest">
                <img src="/Backgrounds/Howest_Logo.png" />
            </div>
        </div>
    </div>


    <!-- /.row -->
</div>
<!-- /.container-fluid -->
<!-- /#page-wrapper -->

<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>


