@model POI
@{
    ViewBag.Title = "POINew";
}


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">POI Aanmaken</h1>
            </div>
        </div>

        <form method="post" action="/POI/POINew" enctype="multipart/form-data">
            <div class="row">
                <div class="col-xs-10">

                </div>
                <div class="col-lg-2">
                    <input type="submit" value="POI Opslaan" name="btnSubmit" class="btn btn-lg btn-success btn-block" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="tabs">
                        <li><a href="#view1">Basis Informatie POI</a></li>
                        <li><a href="#view2">Afbeeldingen</a></li>
                        <li><a href="#view3">Activiteiten</a></li>
                    </ul>
                    <div class="tabcontents">
                        <div id="view1">
                            <div class="panel">

                                <div class="panel-body">



                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Naam: </label> @Html.TextBoxFor(model => model.Naam, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Adres: </label> @Html.TextBoxFor(model => model.Adres, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Gemeente: </label> @Html.TextBoxFor(model => model.Gemeente, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Gemeente, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Tel.: </label> @Html.TextBoxFor(model => model.Telefoon, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Telefoon, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>E-mail: </label> @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Website: </label> @Html.TextBoxFor(model => model.WebsiteUrl, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.WebsiteUrl, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Beschrijving: </label> @Html.TextAreaFor(model => model.Beschrijving, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Beschrijving, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Openingsuren: </label> @Html.TextAreaFor(model => model.Openingsuur, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Openingsuur, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Tijdsduur: </label> @Html.TextBoxFor(model => model.Duurtijd, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Duurtijd, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Toegangsprijs: </label> @Html.TextBoxFor(model => model.Toegangsprijs, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Toegangsprijs, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Doelgroep:</label><br />



                                                @foreach (Doelgroep dg in ViewBag.Doelgroepen)
                                                {
                                                    <div class="checkbox-inline">

                                                        <input type="checkbox" id="@dg.Id" name="doelgroepIds" value="@dg.Id" />
                                                        <label for="@dg.Id">@dg.DoelgroepNaam</label>
                                                    </div>

                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="view2">
                            <div class="panel">

                                <div class="panel-body">
                                    <!-- Voeg hier code voor het beheren van afbeeldingen-->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label>Afbeeldingen</label>
                                            <br />
                                            <input type="hidden" value="@Model.Id" name="Id" />
                                            <input type="hidden" value="@Model.Auteur_Id" name="Auteur_Id" />
                                            <input type="file" name="picture" id="url" /><input type="button" name="btnBrowse" value="..." /><input type="submit" name="btnUploaden" value="Uploaden" />
                                            <br />

                                            <div class="POINewAfbeeldingen">

                                                Afbeelding
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="view3">
                            <label>Activiteiten</label><label id="NewActivity"><a href="@Url.Action("POIActivity", "POI")">Nieuwe Activiteit</a></label>
                            <br />
                            <div class="POINewActivity">
                                <!-- Voeg hier code voor het beheren van activiteiten-->
                                Activity
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
                </div>

        
            <!-- /.row -->
</div>
    <!-- /.container-fluid -->

<!-- /#page-wrapper -->







