@model IEnumerable<DigitaalOmgevingsboek.POI>

@{
    ViewBag.Title = "POIOverzicht";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">POI Overzicht</h1>


    <div class="content">

        <div class="zoekPOI">
            <form action="">
                <label for="search">Zoek: </label>
                <input type="text" name="search" id="search" value=""><br>
                Doelgroep: 
                    <select id="doelgroep" name="Doelgroep">
                        @foreach(Doelgroep dg in ViewBag.Doelgroepen)
                        {
                            <option>@dg.DoelgroepNaam</option>
                        }
                    </select>
                <br/>
                Leerdoel:
                    <select id="leerdoel" name="Leerdoel">
                        @foreach(Leerdoel ld in ViewBag.Leerdoelen)
                        {
                            <option>@ld.LeerdoelNaam</option>
                        }
                    </select>
                <br/>

            </form>
        </div>

        <div class="lijstPOI">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Naam)
                    </th>
                    <th>
                         Adres
                             @*@Html.DisplayTextFor(model => model.Adres)*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gemeente)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr >
                        <td>
                            @Html.ActionLink(item.Naam, "POIView", new { id = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adres)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gemeente)
                        </td>
                        <td>
                            @Html.ActionLink("Wijzig", "POIModify", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>



    </div>
</div>

@*<script type="text/javascript">
    $(function () {
        var content = $('#search').val();

        $('#search').keyup(function () {
            if ($('#search').val() != content) {
                content = $('#search').val();
                alert('Content has been changed');
            }
        });
    });
</script>*@