@model DigitaalOmgevingsboek.POI

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>POIPdfView</title>
</head>
<body>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <div class="form-group"> <label><strong>Naam:</strong> </label> @Html.DisplayFor(model => model.Naam)</div><br>
                    <div class="form-group"> <label><strong>Adres: </strong></label> @Html.DisplayFor(model => model.Adres)</div><br>
                    <div class="form-group"><label><strong>Gemeente:</strong> </label> @Html.DisplayFor(model => model.Gemeente)</div><br>

                    <div class="form-group">
                        <label><strong>Telefoonnummer:</strong> </label> @Html.DisplayFor(model => model.Telefoon)
                    </div><br>

                    <div class="form-group">
                        <label><strong>Email:</strong> </label> @Html.DisplayFor(model => model.Email)
                    </div><br>

                    <div class="form-group">
                        <label><strong>Website:</strong> </label> @Html.DisplayFor(model => model.WebsiteUrl)
                    </div><br>

                    <div class="form-group">
                        <label><strong>Beschrijving</strong> </label> @Html.DisplayFor(model => model.Beschrijving)
                    </div><br>


                    <div class="form-group">
                        <label for="openingsuren"><strong>Openingsuren:</strong> </label>@Html.DisplayFor(model => model.Openingsuur)
                    </div><br>


                    <div class="form-group">
                        <label><strong>Tijdsduur: </strong></label>@Html.DisplayFor(model => model.Duurtijd)
                    </div><br>

                    <div class="form-group">
                        <label><strong>Toegangsprijs: </strong></label>€ @Html.DisplayFor(model => model.Toegangsprijs) 
                    </div><br>


                    <div class="form-group">
                        <label><strong>Doelgroep:</strong></label>

                        <ul>
                            @foreach (Doelgroep d in Model.Doelgroep)
                            {
                                <li>@d.DoelgroepNaam</li>



                            }
                    </ul>

                </div>


            </div>
            @*<div class="col-lg-6">


                @{
                    var i = 0;
                    <ul style="list-style-type: none;">
                        @foreach (Foto_POI foto in Model.Foto_POI)
                        {

                            <li><img src="https://omgevingsboek.blob.core.windows.net/images/@foto.FotoURL" id="imagesize"></li>
                            i = i + 1;

                        }

                        @if (i == 0)
                        {
                            <li><img src="http://dummyimage.com/300x150/aaa/fff.png&text=Geen+afbeeldingen"></li>
                        }
                    </ul>

                }




                <br>


            </div>*@
            <div class="col-lg-6">
            <div class="form-group">
            <label><strong>Leergebieden/domeinen</strong> </label>


                @{
                    List<string> lijst = new List<string>();

                    foreach (Thema th in Model.Thema)
                    {
                        if (!lijst.Contains(th.LeergebiedNaam))
                        {
                            lijst.Add(th.LeergebiedNaam);
                        }




                    }







                    foreach (string s in lijst)
                    {
                        <p>@s</p>
                        <ul>
                            @foreach (Thema th in Model.Thema)
                            {
                                if (th.LeergebiedNaam.Equals(s))
                                {
                                    <li>@th.DomeinNaam</li> }


                            }
                        </ul><br>


                    }
}






            </div>
        </div>

                </div>
            <div class="row">
                <div id="Howest">
                    <img src="/Backgrounds/Howest_Logo.png" />
                </div>
            </div>
                <!-- /.container-fluid -->
            </div>
       
    

                    <!-- /.col-lg-12 -->
                </div>
               
            
       
   
</body>
</html>
