@{
    ViewBag.Title = "Surroundings";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">POI Overzicht</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
          
            <div class="col-lg-3 col-xs-12">
                <div class="form-group">
                    <input type="button" class="btn btn-lg btn-success btn-block" name="btnSearchAll" value="Bekijk alle POI's" onclick="location.href='@Url.Action("POIOverzicht", "POI", new { filter = "alle"})'" />

                </div>
            </div>
            <div class="col-lg-3 col-xs-12">
                <input type="button" class="btn btn-lg btn-success btn-block" name="btnSearchMine" value="Bekijk mijn POI's" onclick="location.href='@Url.Action("POIOverzicht", "POI", new { filter = "mijn" })'" /><br />
            </div>
            <div class="col-lg-3 col-xs-12">
                <input type="button" class="btn btn-lg btn-success btn-block" name="btnNew" value="Nieuwe POI" onclick="location.href='@Url.Action("POINew", "POI")'" /><br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       Thema's:
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (Thema th in ViewBag.Themas)
                            {
                                <li>@Html.ActionLink(th.ThemaNaam, "POIOverzicht", new { themaId = th.Id })</li>
                            }
                        </ul>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Doelgroepen:
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <ul class="list-inline">
                                    @foreach (Doelgroep dg in ViewBag.Doelgroepen)
                                    {
                                        <li>@Html.ActionLink(dg.DoelgroepNaam, "POIOverzicht", new { doelgroepId = dg.Id })</li>
                                    }
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
    </div>
    </div>

<!--
    Script voor controle Textbox content changed

    <script type="text/javascript">
    $(function () {
        var content = $('#search').val();

        $('#search').keyup(function () {
            if ($('#search').val() != content) {
                content = $('#search').val();
                alert('Content has been changed');
            }
        });
    });
</script>


-->

